/* Common Styles */

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    font-family: "Josefin Slab", serif;
}

.container {
    width: 100%;
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

section:after {
    content: " ";
    display: block;
    clear: both;
}